
<style>
  

  </style>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>  

    <script type="text/javascript">
        $(document).ready(function() {
          $('#fullpage').fullpage({
            verticalCentered: true,
            resize: true,
          });
        });

      </script>

    <script>
    $(document).ready(function(){
      $('input').iCheck({
        checkboxClass: 'icheckbox_flat',
        radioClass: 'iradio_flat'
      });
    });
    </script>




<div id="fullpage">
  <div class="section " id="section0">
    <div class="layer" >
      <%= image_tag "logo_mascote.png", style:'width:50%;'%>
    </div>
    
  </div>





  <div class="section" id="section2">
    <div class="layer" >
      <%= image_tag "jogo_r.jpg", style:'width:50%;'%>

    </div>
    <center>
      <div>

      <%= form_tag users_path, method: :post do %>


            <ul class="choose-methods">
              <li class="choose-method outrasopcoes">

                <%= radio_button_tag 'op', 'outra',true %>
                <label for="op_outra"></label>
              </li>

              <li class="choose-method nosestadios">
                <%= radio_button_tag 'op', 'estadio' %>

              <!--  <input name="chooose_methods" type="radio" id="nosestadios" > -->
                <label for="op_estadio"></label>
              </li>
            </ul>
          </div>
          <div>
            <ul class="twitter-list">
              <li class="twitter-iconbox">
              </li>
              <li class="twitter-block">
              <%= text_field_tag "twitter_token", "Twitter account" %>
            <!--    <input type="text" class="twitterinput"></input> -->
              </li>
            </ul>
        
      </div>  
      <div>
        <%= submit_tag "Enviar" %>
        <%end%>

  <!--      <input type="submit" class="mybutton" value=""
            onmousedown="this.className+=' pressed'"
            onmouseup="this.className=this.className.replace(' pressed', '')">
          </input> -->

      </div>

    </center>
  </div>
</div>